# Virtual environment
venv/
google_key.json
.env
# Compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook files
.ipynb_checkpoints

# Environment variables
.env

# Logs
logs/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyBuilder
target/

# Pyre type checker
.pyre/

# VS Code settings and cache
.vscode/
*.code-workspace

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright
.pyrightcache/
