[[source]] # Here goes your package sources (where you are downloading your packages from).
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages] # Here goes your package requirements for running the application and its versions (which packages you will use when running the application).
youtube-dl = "*"
psycopg2 ="*"
boto3 ="*"
python-dotenv ="*"
